<% if @skill.errors.any? %>
  <div id="error-explanation">
    <p>There was <%= pluralize(@skill.errors.count, 'error') %>.</p>
    <ul>
      <% @skill.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2><%= @fighter.fname %> <%= @fighter.lname %></h2>
<div class="fighter">
  <div class="avatar">
    <%= image_tag @fighter.avatar.url(:thumb) %>
  </div>
  <div class="fighter-info">
    <% unless @fighter.description.blank? %>
      <div class="decription">
        <%= @fighter.description %>
      </div>
    <% end %>
    <div class="stats">
      <p>wins: <%= @fighter.wins.count %></p>
      <p>losses: <%= @fighter.losses.count %></p>
    </div>
    <div class="experience">
      <p>
        <%= @fighter.experience %> exp points
      </p>
    </div>
  </div>
</div>

<div class="skills">
  <h3>Skills</h3>
  <% unless @fighter.skills.empty? %>
    <% @fighter.skills.each do |s| %>
      <p><%= s.name %>: <%= s.level %></p>
    <% end %>
  <% end %>
  <h4>Add skill</h4>
  <%= form_for([@fighter, @fighter.skills.build]) do |f| %>
    <p>
      <%= f.label :skill_name %>
      <%= f.text_field :name, class: 'form-control' %>
    </p>

    <p>
      <%= f.label :skill_level %> (0 - 5)
      <%= f.number_field :level, class: 'form-control' %>
    </p>

    <p>
      <%= f.submit "Add skill", class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
