<h2>Add fighters</h2>

<div class="all-fighters">
  <%= form_for @fight do |x| %>
    <% @fighters.each do |f| %>
      <p>
        <%= f.fname %> <%= f.lname %>
        <%= check_box_tag "fighter_ids[]", f.id, false, :id => "fighter_#{f.id}" %>
      </p>
    <% end %>

    <p>
      <%= x.submit "Add fight" %>
    </p>
  <% end %>
</div>
