<!DOCTYPE html>
<html>
<head>
  <title>Ego Fight Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="col-md-2 panel">
    <ul class="nav center">
      <li><%= link_to "ranking page", root_path %></li>
      <li><%= link_to "add sub-personality", new_fighter_path %></li>
      <li><%= link_to "make a fight", new_fight_path %></li>
    </ul>
  </div>
  <div class="col-md-8 right panel">
    <%= yield %>
  </div>
</div>

</body>
</html>
